<%- include('./partials/header.ejs') %>

       <h1>Client Show Page</h1>
       



       
       <div class="header">
       <h2> <%=foundClient.clientName %> </h2>
       </div>
       <div class="btn-group">
              &nbsp &nbsp
       <form action="/clients/<%= foundClient.id %>?_method=DELETE" method="POST">
       <input class="btn btn-danger" id="button" type="submit" value="Delete Client">
       </form>
       &nbsp &nbsp
       <form action="/incidents/newI/client/<%= foundClient.id %>">
       <input  class="btn btn-primary btn-lg" id="button"
       type='submit' value="New Incident">
       </form>

       </div> 
        
        
<br/>
<br/>
<br/>

     
<div class="function">
       <%= console.log('foundClient.review.legnth.ejs ', foundClient.review.length) %>

<% if (foundClient.review.length >= 1){ %>
       
       <% foundClient.review.forEach(review => { %>
       <div class="newIncident">

       <p>Last Updated on:
              <br/>
              <%= lastUpdated %>
       </p>
       
       <p>Company:
              <%= company %>
              <br />
              foundClient.review[0].employeeData.company:
              <%= review.employeeData.company %>
       </p>


       <p>Location:<br/>
              <%= location %>
       </p>


       <p>Employee Title:<br/>
              <%= userTitle %>
       </p>

       <p>Review:<br/>
              <%= review.incidentReport %> 
       </p>

       </div>

                    <% }) %>

       <% } else { %> <p></p> <% }  %>
</div>

        <br/>
        <br/>
        <br/>



    

       <br/>

       

       


        <%- include('./partials/footer.ejs') %>