<%- include('./partials/header.ejs') %>

       <h1>Client Show Page</h1>
       



       <div>
       <div>
       <h2> <%=foundClient.clientName %> </h2>
       </div>
       <form action="/clients/<%= foundClient.id %>?_method=DELETE" method="POST">
       <input class="btn btn-danger" id="button" type="submit" value="Delete Client">
       </form>
       </div> 
        
        
<br/>
<br/>
<br/>

     
<div class="function">
       <%= console.log('foundClient.review.legnth.ejs ', foundClient.review.length) %>

<% if (foundClient.review.length >= 1){ %>

       
       <p> Company:<br/>
              <%= company %>
       </p>


       <p> Location:<br/>
              <%= location %>
       </p>


       <p> Employee Title:<br/>
              <%= userTitle %>
       </p>


       <p> Review: <br/>
              <%= review %> 
       </p>


       <p> Last Updated on: <br/>
              <%= lastUpdated %>
       </p>
     

       <% } else { %> <p></p> <% }  %>
</div>

        <br/>
        <br/>
        <br/>



        <form action="/incidents/newI/client/<%= foundClient.id %>">
       <input  class="btn btn-primary btn-lg" id="button"
       type='submit' value="New Incident">
       </form>

       <br/>

       

       


        <%- include('./partials/footer.ejs') %>