<%- include('./partials/header.ejs') %>


    <h1>Edit Client Page</h1>

    <form action="/clients/<%= foundClient.id %>?_method=PUT" method="POST">
      Client Name: 
        <input 
            type="text" 
            name="clientName" 
            value="<%= foundClient.clientName %>" 
        /> 
        <br/>
      Incident Report:  
        <input 
            type="text" 
            name="review"
            value="<%= foundClient.review %>"
        /> 
        <br/>
    
        
        <br/>

      <input type="submit" value="Update Client" />
    </form>


    <%- include('./partials/footer.ejs') %>