<%- include('./partials/header.ejs') %>


    <h1>Index Page</h1>          
    

    <ul>
      <% for (let i = 0; i < clients.length; i++) { %>
        <li>
          <p>Client Name:
          <a href="/clients/<%=clients[i].id%>"> <%=clients[i].clientName%> </a>
          </p>
      
          <p>Incident Report: <br/>
          <%= clients[i].review %> </p>

        </li>
        <% } %>
    </ul>
   

<form action="/clients/new">
<input id="button" class="btn btn-dark"
type='submit' value="New Client">
</form>
    

<%- include('./partials/footer.ejs') %>